$color-backgroud: #000000;
$color-header: #0f0f0f;
$color-primary: #227e17;
$color-secondary: #379f2b;

.color-background {
  background-color: $color-backgroud;
}

.color-header-footer {
  background-color: $color-header;
}

:hover.color-primary-hover {
  color: $color-primary;
}

.color-primary {
  color: $color-primary;
}

:hover.color-secondary-hover {
  color: $color-secondary;
}
.color-secondary {
  color: $color-secondary;
}

.color-secondary-border {
  border-color: $color-secondary;
}

.link-secondary {
  color: $color-secondary;
  transition: all 0.3s ease;
}

:hover.link-secondary {
  
  color: darken($color-secondary, 10%);
}

:hover.shadow-secondary {
  box-shadow: 0 4px 6px -1px rgba($color-secondary, 0.1), 0 10px 20px 1px rgba($color-secondary, 0.5);
}